<mat-toolbar>
    <mat-toolbar-row>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png" alt="pokemon" width="120" height="50" (click)="home()">
        <span></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="">
            <mat-icon>donut_large</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="">
            <mat-icon>donut_small</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
